/* Variables */
:root{
    /* Tipography */
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;

    /* Gradient */
    --background:#E5E5E5;
	--linear-gradient: 207.8deg, #201E1C 16.69%, #F7931A 100%;

    /* Colors*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

/* Resetting margin, padding and box sizing */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Rem and font control */
html{
    font-size: 62.5%;
    font-family: "DM sans", sans-serif;
}

/* Sección de cabecera */
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 32rem;
    height: 33.4rem;

    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
}

.header__title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;

    margin-top: 5rem;

    text-align: center;
}

.header__title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;

    color: var(--just-white);
}

.header__title-container p{
    margin-top: 2.5rem;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    color: var(--soft-orange);
}

.header__title-container .header__button{
    position: absolute;
    left: 0;
    right: 0;
    top: 270px;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    border: none;
    border-radius: .5rem;

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;

    color: var(--black);
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header__button span{
    display: inline-block;

    width: 1.3rem;
    height: .8rem;
    margin-left: 1rem;

    background-image: url('../assets/icons/down-arrow.svg');
}

/* Sección de main */

main{
    width: 100%;
    height: auto;

    background-color: var(--off-white);
}

/* Primer sección dentro de main */

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;

    text-align: center;
}

.main-exchange-container__tittle{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;

    background: url('../assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container__tittle h2{
    margin-bottom: 3rem;
    
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;

    color: var(--black);
}

.main-exchange-container__tittle p{
    margin-bottom: 3rem;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;

    color: #757575;
}

/* Tablas dentro de primera sección de main */


.main-comission-table, .main-currency-table{
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 auto;

    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table__title{
    margin-bottom: 1.5rem;
    
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;

    color: var(--bitcoin-orange);
}

.main-comission-table .comission-table__title{
    margin-bottom: 1.5rem;
    
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;

    color: var(--secondary-blue);
}

.comission-table__container, .currency-table__container{
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;

    margin: auto;
}

.comission-table__container table, .currency-table__container table{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 15px 15px;

    background-color: var(--just-white);
}

.comission-table__container td, .currency-table__container td{
    width: 50%;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;

    color: var(--grey);
}

.currency-table__container .table--right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;

    color: #757575;
}

.currency-table__container .down{
    display: inline-block;

    width: 15px;
    height: 15px;
    margin-left: 10px;

    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__container .up{
    display: inline-block;

    width: 15px;
    height: 15px;
    margin-left: 10px;

    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-comission-table .comission-table__date, .main-currency-table .currency-table__date{
    display: inline-block;

    border-radius: 5px;
    margin-top: 1.5rem;
    padding: .7rem 1rem;

    font-size: 1.2rem;
}

.main-currency-table .currency-table__date{
    background-color: var(--soft-orange);
}
.main-comission-table .comission-table__date{
    background-color: var(--soft-blue);
}

/* Segunda sección del main */

.main-product-detail{
    position: relative;

    width: 100%;
    min-width: 32rem;
    height: auto;
    padding: 2rem 1rem;

    background-color: var(--black);
}
.product-detail__patata-logo{
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);

    width: 4rem;
    height: 2.5rem;

    background-image: url('../assets/icons/batata.svg');
}

.product-detail__title{
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;

    text-align: center;
}

.product-detail__title h2{
    margin-bottom: 2rem;

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;

    color: var(--just-white);
}

.product-detail__title p{
    margin-bottom: 2rem;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    color: #808080;
}

/* Tarjetas de segunda sección de main */

.product-detail__card{
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.16);

    background-color: var(--warm-black);
}

.product-detail__card .icon-card{
    display: inline-block;

    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail__card .icon-card--clock{
    background-image: url('../assets/icons/clock.svg');
}
.product-detail__card .icon-card--eye{
    background-image: url('../assets/icons/eye.svg');
}
.product-detail__card .icon-card--dolar{
    background-image: url('../assets/icons/dollar-sign.svg');
}
.product-detail__card .icon-card--circle{
    background-image: url('../assets/icons/check-circle.svg');
}

.product-card--title{
    margin-bottom: 1.5rem;

    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;

    color: var(--just-white);
}
.product-card--body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    color: #808080;
}

/* Tercer sección de main */

.bitcoin-img-container{
    width: 100%;
    min-width: 32rem;
    height: 50vh;

    background-image: url('../assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bitcoin-img-container h2{
    padding-top: 6rem;

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;

    color: var(--just-white);
}